<%- include('../partials/header') %>

<table id="list">
  <thead>
    <h2>THE VAULT OF STOIC WISDOM</h2>
    <tr>
      <th>QUOTE</th>
      <th>PHILOSOPHER</th>
      <th>INTERPRETATION</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% quotes.forEach(function(m) { %>
      <tr>
        <td><%= m.quote %></td>
        <td><%= m.philosopher %></td>
        <td><a href="/quotes/<%= m._id %>">VIEW & DISCUSS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
