<%- include('../partials/header', { title: title })%>

<section id="show-page">
  <div>QUOTE:</div>
  <div><%= quote.quote %></div>
  <div>PHILOSOPHER: </div>
  <div><%= quote.philosopher %></div>
  <div>INTERPRETATION: </div>
  <div><%= quote.interpretation %></div>
</section>

<br><h3>Share your thoughts or how this quote has helped in your own life below.</h3>
<form id="add-thoughts-form" method="POST"
  action="/quotes/<%=quote._id %>/thoughts">
  <textarea name="thoughts"></textarea>
  <input type="submit" value="Add Thoughts">
</form>

<% if (quote.thoughts.length) { %>
  <table>
    <thead>
      <tr>
        <th>MEMBER</th>
        <th>DATE</th>
        <th>THOUGHTS</th>
      </tr>
    </thead>
    <tbody>
      <% quote.thoughts.forEach(function(r) { %>
        <tr>
          <td class="thought-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.thoughts %></td>
          <td><%= r.rating %></td>
          <td>
            <% if (user?._id.equals(r.user)) { %>
              <form action="/thoughts/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="3"></td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>NO THOUGHTS HAVE BEEN ADDED.</h5>
<% } %>
  
<%- include('../partials/footer') %>
